@font-face {
  font-family: 'DMSans';
  font-style: normal;
  font-weight: 400;
  src:  url('../fonts/DMSans/DMSans-Regular.woff2'),
        url('../fonts/DMSans/DMSans-Regular.woff');
  font-display: swap;
}

@font-face {
  font-family: 'DMSans';
  font-style: normal;
  font-weight: 500;
  src:  url('../fonts/DMSans/DMSans-Medium.woff2'),
        url('../fonts/DMSans/DMSans-Medium.woff');
  font-display: swap;
}

@font-face {
  font-family: 'DMSans';
  font-style: normal;
  font-weight: 700;
  src:  url('../fonts/DMSans/DMSans-Bold.woff2'),
        url('../fonts/DMSans/DMSans-Bold.woff');
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  src:  url('../fonts/Rubik/Rubik-Light.woff2'),
        url('../fonts/Rubik/Rubik-Light.woff');
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src:  url('../fonts/Rubik/Rubik-Regular.woff2'),
        url('../fonts/Rubik/Rubik-Regular.woff');
  font-display: swap;
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  src:  url('../fonts/Rubik/Rubik-Medium.woff2'),
        url('../fonts/Rubik/Rubik-Medium.woff');
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src:  url('../fonts/Poppins/Poppins-Bold.woff2'),
        url('../fonts/Poppins/Poppins-Bold.woff');
  font-display: swap;
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  src:  url('../fonts/Nunito/Nunito-Bold.woff2'),
        url('../fonts/Nunito/Nunito-Bold.woff');
  font-display: swap;
}