$bluef4:    #edf1f4;
$bluec8:    #a3bbc8;
$blue72:    #436372;
$peachb6:   #fcd7b6;
$blue4d:    #243f4d;
$black19:   #191919;
$gray7b:    #7b7b7b;
$whitebluec8:#a3bbc8;
$gray8b:     #8b8b8b;
$grayf8:     #f8f8f8;
$grayf6:        #f6f6f6;
$gray26:     #262626;
$lightgraye0:#e0e0e0;

%dmsans {
  font-family: 'DMSans', sans-serif;
}

%rubik {
  font-family: 'Rubik', sans-serif;
}

@mixin clamp($clamp) {
  -webkit-line-clamp: $clamp;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
}


// Для работы fancybox
@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}


// скрытие чекбоксов для кастомизации
%checkbox-hidden {
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  position: absolute;
}