$accent:    #a3bbc8;
$default:   #436372;
$background:#fcd7b6;
$title:     #243f4d;
$subtitle:  #191919;
$footer:    #7b7b7b;
$button:    #a3bbc8;

%dmsans {
  font-family: 'DMSans', sans-serif;
}

%rubik {
  font-family: 'Rubik', sans-serif;
}

@mixin clamp ($clamp) {
  -webkit-line-clamp: $clamp;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
}