@import "fonts";
@import "vars";
@import "reset";
@import "libs";
@import "global";

// index.html

@import "../module/_header/header";

@import "../module/_sliders/first_page_slider";

.support-box {
  &__items {
    background-color: rgba($yellowb6, 0.2);
    line-height: 1.9;
    display: flex;
    justify-content: space-around;
  }

  &__item {
    position: relative;
    max-width: 600px;
    width: 100%;
    padding: 46px 0 46px 150px;
    font-family: "DMSans Regular", sans-serif;
    font-size: 16px;
    color: $brown58;

    span {
      width: 220px;
    }
    
    p {
      @include clamp(2);
      width: 220px;
    }

    &:nth-child(2) {
      border-left: 1px solid rgba($blue72, 0.1);
      border-right: 1px solid rgba($blue72, 0.1);

    }

    &::before {
      background-repeat: no-repeat;
      content: "";
      position: absolute;
      top: 46px;
      left: 80px;
      width: 51px;
      height: 53px;
    }

    &--support::before {
      background-image: url("../images/sprite.svg#icon-support");
    }

    &--delivery::before {
      background-image: url("../images/sprite.svg#icon-delivery");
    }

    &--payment::before {
      background-image: url("../images/sprite.svg#icon-payment");
    }
  }

  &__subtitle {
    width: 220px;
    font-weight: 700;
    font-size: 18px;
    color: $gray41;
    @include clamp(1);
  }
}

@media (max-width: $lx) {

}

@media (max-width: $lg) {

}

@media (max-width: $md) {

}

@media (max-width: $xs) {

}

.week-products {
  padding-top: 70px;
  font-family: "DMSans Bold", sans-serif;

  &__title {
    margin-bottom: 30px;
  }
  &__filter {
    margin-bottom: 80px;
  }

  &__list {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 40px;
    margin-bottom: 185px;
  }
}

.product-card {
  position: relative;
  box-shadow: 0px 6px 47px 3px rgba($black25, 0.05);
  max-width: 270px;
  width: 100%;
  height: 380px;
  border-radius: 10px;

  &__box {
    position: relative;
    height: 245px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
  }

  &__img {
    padding: 10px;
    object-fit: contain;
    text-align: center;
  }

  &__button-item {
    margin-right: 16px;
  }

  &__links {
    position: absolute;
    left: 0;
    right: 0;
    top: 180px;
    text-align: center;
    display: flex;
    justify-content: center;
    transform: translateY(300%);
    transition: transform 0.3s;

    :last-child {
      margin-right: 0;
    }
  }

  &__subtitle {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    color: $blue4d;
    text-align: center;
    padding: 0 5px;
    @include clamp(1);
  }

  &__price {
    position: relative;
    display: flex;
    justify-content: center;
    line-height: 2.5;
    color: $bluec8;
  }

  &__block--hidden {
    display: none;
  }

  &:hover {
    .product-card__links {
      transform: translateY(0);
    }
  }
}

.mix-filter {
  display: flex;
  justify-content: center;
  font-weight: 700;

  &__item {
    margin-right: 17px;
  }

  &__item {
    &:last-child {
      margin-right: 0;
    }
  }

  &__btn {
    position: relative;
    font-size: 16px;
    line-height: 1;
    color: $gray8b;
    background-color: transparent;
    border: none;
  }

  &__btn.mixitup-control-active {
    color: $black19;
  }
}

.review {
  &__box {
    margin-bottom: 100px;
    display: flex;
    color: $blue4d;
  }

  &__item {
    margin-right: 30px;
    width: 100%;

    &:last-child {
      margin-right: 0;
    }
  }

  &__card {
    height: 390px;
    max-width: 870px;
    background-color: rgba($yellowb6, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__description {
    max-width: 340px;
  }

  &__subtitle {
    font-size: 26px;
    line-height: inherit;
    font-weight: 700;
    margin-bottom: 33px;
    @include clamp(2);
  }

  &__text {
    font-family: "Rubik Regular", sans-serif;
    line-height: 1.8;
    margin-bottom: 40px;
    @include clamp(2);
  }

  &__link {
    font-family: "Rubik Regular", sans-serif;
    font-size: 15px;
    color: $blue72;
    padding: 20px;
    border: 1px solid rgba($bluec8, 0.4);
    border-radius: 5px;
    transition: color 0.3s, background-color 0.3s;

    svg {
      margin-left: 45px;
      width: 22px;
      height: 9px;

      use {
        fill: $blue72;
        transition: fill 0.3s;
      }
    }

    &:hover,
    &:hover use {
      color: $whiteff;
      fill: $whiteff;
      background-color: $bluec8;
    }

    &:active {
      background-color: $blue72;
    }
  }

  &__image {
    position: relative;
    max-width: 220px;
    margin: 20px;
    transform: translateY(-94px);
    object-fit: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
}

.new-design {
  margin-bottom: 120px;

  &__title {
    margin-bottom: 28px;
  }

  &__filter {
    margin-bottom: 80px;
  }

  &__item {
    max-width: 370px;
    width: 100%;
    height: 246px;
    border-radius: 5px 5px 0 0;
    box-shadow: none;
    background-color: $grayf8;
    transition: box-shadow 0.5s;
    position: relative;

    &:focus {
      outline: 2px solid $blue69;
    }

    &:hover {
      box-shadow: 0 0 20px $blue4d;
    }

    &:active {
      box-shadow: 0 0 20px $yellowb6;
    }
  }

  &__inner {
    overflow: hidden;
    height: 100%;
    position: relative;
  }

  &__img-box {
    position: absolute;
    display: block;
    max-width: 417px;
    width: 100%;
    height: 178px;
    top: 60px;
    left: 70px;
    overflow: hidden;
  }

  &__img {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-43%, -50%);
    object-fit: contain;
  }

  &__box {
    background-size: cover;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 34px;
    grid-column-gap: 30px;
  }

  &__content {
    padding: 34px 140px 0 34px;
    position: relative;
    z-index: 10;
  }

  &__subtitle {
    font-size: 20px;
    line-height: inherit;
    font-weight: 700;
    color: $black19;
    margin-bottom: 11px;
    @include clamp(2);
  }

  &__text {
    font-weight: 700;
    color: $bluec8;
    @include clamp(1);
  }
}

.video {
  position: relative;
  width: 100%;
  height: 500px;
  margin-bottom: 115px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 1;
  background-color: $black00;
  box-shadow: none;
  transition: box-shadow 0.3s;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $black00;
    opacity: 0;
    transition: opacity 0.3s;
  }

  &:hover::before {
    opacity: 0.5;
  }

  &::after {
    content: "";
    position: absolute;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: $whiteff;
    opacity: 0.1;
    transition: width 0.3s ease-in, height 0.3s ease-in, opacity 0.3s ease-in-out;
  }

  &:hover::after {
    width: 100px;
    height: 100px;
    opacity: 0.4;
  }

  & svg {
    position: relative;
    width: 22px;
    height: 25px;
    fill: $whiteff;
    transform: translateX(10%);
  }

  &:active {
    box-shadow: 0 0 20px $yellowb6;
  }
}

.articles {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 331px;
    height: 170px;
    width: 100%;
    background-color: rgba($yellowb6, 0.2);
    z-index: -1;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 45px;
  }

  &__view-all {
    position: relative;
    font-weight: 700;
    color: $gray26;

    svg {
      width: 6px;
      height: 10px;
      margin-left: 15px;
      fill: $gray26;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }
}

.article-news {
  position: relative;
  height: 420px;
  max-width: 370px;
  width: 100%;
  background-color: $whiteff;

  &__inner {
    display: inline-block;
    box-shadow: none;
    transition: box-shadow 0.3s;
    cursor: pointer;

    &:hover {
      box-shadow: 0 0 20px $blue4d;
    }

    &:active {
      box-shadow: 0 0 20px $yellowb6;
    }
  }

  &__box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    height: 170px;

    &::after {
      content: "";
      position: absolute;
      max-width: 315px;
      width: 100%;
      height: 1px;
      background-color: $graye0;
      top: 110px;
      left: 30px;
    }
  }

  &__img {
    border-radius: 5px 5px 0 0;
    overflow: hidden;
  }

  &__subtitle {
    position: relative;
    font-weight: 700;
    font-size: 18px;
    line-height: inherit;
    color: $gray26;
    @include clamp(3);
  }

  &__img {
    max-width: 370px;
    width: 100%;
    height: 250px;
    object-fit: cover;
    background-size: cover;
    background-position: center center;
  }

  &__link {
    position: absolute;
    font-family: "Poppins Bold", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: $whiteff;
    padding: 4px 31px;
    border-radius: 15px;
    top: 233px;
    left: 28px;
    background-color: $bluec8;
    transition: background-color 0.3s;
    z-index: 20;

    &:hover {
      background-color: $blue72;
    }

    &:active {
      background-color: $blue4d;
    }
  }

  &__time {
    margin-right: 30px;
  }

  &__time,
  &__autor {
    text-transform: uppercase;
    font-size: 12px;
    color: $blue33;

    svg {
      width: 10px;
      height: 10px;
      fill: $blue33;
    }
  }
}

.partners {
  width: 100%;
  padding: 90px 0 70px;
  background-color: rgba($yellowb6, 0.2);
  margin-bottom: 65px;

  &__item {
    height: 80px;
  }

  &__img {
    margin: auto;
    object-fit: contain;
  }
}

.footer {
  font-weight: 700;
  line-height: 1.6;

  &__links {
    font-family: "Rubik regular", sans-serif;
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
    border-bottom: 1px solid rgba($bluec8, 0.4);
  }

  &__block {
    font-size: 14px;
    max-width: 270px;
    width: 100%;
    color: $gray7b;
  }

  &__subscribe {
    .footer__item {
      margin-bottom: 40px;
    }
  }

  &__contacts {
    max-width: 240px;
  }

  &__subtitle {
    font-weight: 700;
    text-transform: uppercase;
    color: $blue64;
    font-size: 16px;
    line-height: inherit;
    margin: 20px 0;
    display: inline-block;
  }

  &__link {
    display: inline-block;
    color: $gray7b;
    position: relative;
    margin-bottom: 10px;
  }

  &__logo {
    display: block;
    margin-bottom: 20px;
  }

  .contacts {
    &__item {
      margin-bottom: 10px;
    }

    &__link {
      cursor: pointer;
      line-height: 1.7;
      max-width: 200px;
    }

    &__link span {
      text-transform: uppercase;
    }
  }

  &__bottom {
    margin: 35px 0;
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 14px;
  }

  &__nav {
    display: flex;
  }

  &__nav-link {
    position: relative;
  }

  &__nav-item {
    padding: 0 14px;
    border-right: 1px solid $bluec8;

    &:last-child {
      padding-right: 0;
      border-right: none;
    }
  }
}

.subscribe-form {
  display: flex;

  &__input {
    width: 170px;
    height: 38px;
    background-color: rgba($yellowb6, 0.2);
    border: none;
    padding: 0 15px 3px;

    &::placeholder {
      font-weight: 400;
      color: $blue69;
      font-size: 12px;
    }
  }

  &__form-btn {
    display: inline;
    width: 100px;
    height: 38px;
    background-color: $bluec8;
    color: $whiteff;
    border: none;
    transition: background-color 0.3s;

    &:hover {
      background-color: $blue72;
    }

    &:active {
      background-color: $blue4d;
    }
  }
}

// login.html

.login {
  font-family: "Rubik Regular", sans-serif;
  font-size: 14px;

  &__header {
    text-align: center;
    padding: 25px 0 30px;
    background-color: $bluef4;
  }

  &__subtitle {
    font-weight: 300;
    font-size: 36px;
    line-height: inherit;
  }

  &__box {
    margin: 120px auto;
    max-width: 470px;
    width: 100%;
  }

  &__label {
    display: block;
    color: $blue72;
  }

  &__input {
    display: block;
    width: 100%;
    height: 60px;
    border: 2px solid $grayf6;
    margin: 12px 0 25px;
    padding: 0 15px 0 15px;
    font-size: 30px;
  }

  &__block {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    border-bottom: 2px solid $grayf6;
    margin-bottom: 30px;
  }

  &__text {
    text-align: center;
    margin-bottom: 25px;
  }

  &__btn {
    width: 100%;
    height: 60px;
    font-weight: 500;
    font-size: 18px;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
  }

  &__remember {
    position: relative;
  }

  &__checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }

  &__checkbox-style {
    width: 14px;
    height: 14px;
    border-radius: 1px;
    background-color: $grayeb;
    position: relative;
    display: inline-block;
  }

  &__checkmark {
    width: 14px;
    height: 14px;
    display: none;
  }

  &__checkbox:checked + .login__checkbox-style .login__checkmark {
    display: block;
  }

  &__btn-login {
    color: $whiteff;
    background: $bluec8;
    border: none;
    margin: 36px 0 32px;

    &:hover {
      color: $whiteff;
      background: $blue4d;
    }
  }

  &__btn-account {
    color: $blue4d;
    background: $whiteff;
    border: 2px solid $bluec8;

    &:hover {
      color: $whiteff;
      background: $blue4d;
      border: 2px solid $blue4d;
    }
  }
}

.breadcrumbs {
  font-family: "Rubik Regular", sans-serif;
  font-size: 14px;

  &__list {
    display: flex;
    justify-content: center;
    color: rgba($blue33, 0.4);
  }
  &__item {
    position: relative;
    margin-right: 15px;

    &::after {
      content: "/";
      position: absolute;
      right: -10px;
    }

    &:last-child {
      margin-right: 0;

      &::after {
        display: none;
      }
    }
  }
}

// shop.html

.shop {
  &__subtitle {
    font-family: "Rubik Light", sans-serif;
    font-size: 36px;
    margin-bottom: 12px;
  }

  &__header {
    text-align: center;
    padding: 22px 0 30px;
    background-color: $bluef4;
    margin-bottom: 114px;
  }

  &__inner {
    display: flex;
  }

  &__filter {
    max-width: 270px;
    width: 100%;
    margin-right: 30px;
  }
}

.filter {
  padding: 30px 0;

  &__subtitle {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 24px;
    text-transform: uppercase;
  }

  &__line {
    width: 38px;
    height: 2px;
    fill: $bluec8;
    margin-left: 12px;
    margin-bottom: 5px;
  }
}

.filter-category {
  margin-bottom: 54px;

  &__input {
    @extend %checkbox-hidden;

    &:checked + .filter-category__box {
      background-color: rgba($bluec8, 0.2);
      color: $blue4d;

      .filter-category__checkbox--gray {
        color: $blue4d;
      }
    }
  }

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 22px 12px 15px;
    border-radius: 5px;
  }

  &__arrow-right {
    width: 5px;
    height: 10px;
    fill: $bluec8;
  }

  &__checkbox {
    font-family: "Rubik Regular", sans-serif;
    display: block;

    &--gray {
      color: $grayb3;
    }
  }
}

// стиллизация фильтра

.irs--flat .irs-min,
.irs--flat .irs-max {
  display: none;
}

.irs--flat .irs-line {
  top: 0;
  height: 2px;
  background-color: rgba($bluec8, 0.66);
  border-radius: 0;
}

.irs--flat .irs-bar {
  top: 0;
  height: 3px;
  background-color: rgba($bluec8, 1);
}

.irs--flat .irs-handle > i:first-child {
  position: absolute;
  display: block;
  top: -28px;
  left: 1px;
  width: 15px;
  height: 15px;
  background-color: rgba($bluec8, 1);
  transition: background-color 0.3s;
}

.irs--flat .irs-handle.state_hover > i:first-child,
.irs--flat .irs-handle:hover > i:first-child {
  background-color: $blue4d;
}

.irs--flat .irs-from,
.irs-to,
.irs-single {
  display: none;
}

.irs--flat {
  height: 30px;
}

.filter-price {
  margin-bottom: 80px;

  &__subtitle {
    margin-bottom: 35px;
  }

  &__summ {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: "Rubik regular", sans-serif;
    font-size: 14px;
    padding-right: 7px;
  }
}

.pagination {
  text-align: center;
  font-family: "Rubik Regular", sans-serif;
  margin-bottom: 120px;

  &__list {
    display: inline-block;
  }

  &__item {
    display: inline-block;
    margin-right: 15px;
  }

  &__num,
  &__link {
    position: relative;
    display: inline-block;
    padding: 15px 20px;
    border: 1px solid $bluec8;

    &--active {
      color: $whiteff;
      background-color: $bluec8;
    }
  }
}

.filter-recent {
  margin-top: -5px;

  &__list {
    margin-top: 30px;
  }

  &__item {
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__inner {
    display: flex;
    justify-content: flex-start;
  }

  &__img {
    width: 70px;
    height: 70px;
    border: 2px solid $grayf2;
    object-fit: contain;
    margin-right: 20px;
  }

  &__card-subtitle {
    font-family: "Rubik Regular", sans-serif;
    font-size: 14px;
    margin: 4px 0 10px;
    @include clamp(2);
  }

  &__stars {
    margin-bottom: 7px;
  }
}

.jq-ry-container {
  padding: 0;
}

.shop {
  &__contant {
    width: 100%;
  }

  &__contant-filter {
    display: flex;
    align-items: center;
    margin: 0 20px 20px;
  }

  &__contant-subtitle {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 20px;
  }

  &__contant-btn {
    border: none;
    background-color: transparent;

    &--active {
      .shop__contant-image {
        fill: $blue4d;
      }
    }
  }

  &__contant-grid-svg {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    fill: $gray7b;
  }

  &__contant-list-svg {
    width: 20px;
    height: 15px;
    fill: $gray7b;
  }

  &__contant-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 40px;
    margin-bottom: 77px;

    &.shop__contant-list--rows {
      grid-template-columns: repeat(1, 1fr);

      .shop__contant-item:nth-child(n + 5) {
        display: none;
      }

      .product-card {
        display: flex;
        min-width: 100%;
        height: 500px;
        border-radius: 0;
        font-family: "Rubik Regular", sans-serif;
        color: $gray33;

        &__box {
          max-width: 370px;
          width: 100%;
          height: 100%;
          border: 2px solid $graye5;
          margin-bottom: 0;
          flex-shrink: 0;
        }

        &__img {
          margin: 20px;
        }

        &__links {
          display: none;
        }

        &__description {
          padding: 83px 30px 0 52px;
        }

        &__subtitle {
          font-weight: 400;
          font-size: 40px;
          color: inherit;
          text-align: left;
          margin-bottom: 15px;
        }

        &__price {
          justify-content: flex-end;
          flex-direction: row-reverse;
          color: inherit;
          font-size: 30px;
        }

        &__text {
          display: block;
          margin: 4px 0 30px 10px;
          @include clamp(3);
          line-height: 1.8;
        }

        .button-square {
          display: inline-block;
          width: 50px;
          height: 50px;
          padding: 0;
          border: none;
          margin-right: 6px;

          &:last-child {
            margin-right: 0;
          }
        }

        &__btn-cart {
          background-color: $bluec8;
          box-shadow: 0px 6px 47px 3px rgba($black25, 0.05);

          :hover {
            background-color: $blue4d;
            fill: $whiteff;
          }
        }

        &__btn-cart svg {
          fill: $whiteff;
        }

        &__btn-favorite {
          background-color: $whiteff;
          box-shadow: 0px 6px 47px 3px rgba($black25, 0.05);

          :hover {
            background-color: $blue4d;
            fill: $whiteff;
          }
        }

        &__stars {
          display: block;
          margin: 0 0 15px 5px;
        }
      }
    }
  }
}

.product-page {
  font-family: "Rubik Regular", sans-serif;

  &__inner {
    margin: 125px 0 90px;
    display: flex;
    justify-content: space-between;
  }

  &__slider {
    display: flex;
    max-width: 550px;
    width: 100%;
  }

  &__thumb-list {
    width: 138px;
    display: block;
    margin-right: 25px;
  }

  &__thumb-item {
    height: 160px;
    border: 2px solid $grayf2;
    margin-bottom: 19px;
    overflow: hidden;

    :last-child {
      margin-bottom: 0;
    }
  }

  &__thumb-img {
    object-fit: cover;
    height: 100%;
    margin: auto;
  }

  &__big-list {
    max-width: 387px;
    width: 100%;
  }

  &__big-item {
    height: 530px;
    max-width: 387px;
    width: 100%;
    border: 2px solid $grayf2;
    object-fit: contain;
    overflow: hidden;
  }

  &__big-img {
    height: 100%;
    object-fit: cover;
    margin: auto;
  }

  &__description {
    max-width: 570px;
    width: 100%;
    padding: 18px 17px 0;
    color: $blue4d;
  }

  &__subtitle {
    margin-bottom: 15px;
    font-size: 40px;
    font-weight: inherit;
  }

  &__stars {
    margin-bottom: 34px;
  }

  &__price {
    margin-bottom: 23px;
    font-size: 30px;
    color: $gray26;
  }

  &__currancy {
    margin-left: -5px;
  }

  &__text {
    margin-bottom: 26px;
    line-height: 1.9;
    @include clamp(4);
    color: $blue4d;
  }

  &__form {
    margin-bottom: 54px;
    display: flex;
  }

  &__btn {
    margin-left: 15px;
    text-transform: uppercase;
    padding-top: 17px;
    padding-bottom: 18px;
  }

  &__info-title {
    margin-bottom: 11px;
  }

  &__tabs {
    padding: 0 0 120px;
  }

  &__tabs-list {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }

  &__tabs-item {
    margin-right: 13px;

    :last-child {
      margin-right: 0;
    }
  }

  &__tabs-btn {
    color: $blue4d;
    font-size: 18px;
    font-weight: 500;
    transition: color 0.3s, background-color 0.3s;

    &:hover {
      color: $whiteff;
    }
    &--active {
      background-color: $blue4d;
      color: $whiteff;
    }
  }

  &__tabs-description {
    display: none;
    line-height: 1.9;

    &--active {
      display: block;
    }
  }

  &__review-item {
    display: flex;
    margin-bottom: 30px;
  }

  &__review-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
    margin-right: 30px;
  }

  &__review-name {
    display: inline-block;
    color: $black19;
    font-weight: 500;
    margin-right: 30px;
  }

  &__review-date {
    display: inline-block;
  }

  &__review-link {
    position: relative;
    margin-left: 20px;

    &::before {
      position: absolute;
      content: "";
      background-image: url("../images/sprite.svg#arrow-reply");
      background-repeat: no-repeat;
      width: 15px;
      height: 13px;
      left: -20px;
      top: 2px;
    }
  }

  &__star-svg {
    width: 16px;
    height: 18px;
    fill: $gray8b;
  }

  &__review-title {
    margin-bottom: 20px;
  }

  &__review-subtitle {
    display: inline-block;
    margin: 0 30px 20px 0;
  }

  &__review-label {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__review-star {
    @extend %checkbox-hidden;

    &:checked + .product-page__star {
      use {
        fill: $yellow5b;
      }
    }
  }

  &__review-box {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
  }

  &__input-name,
  &__input-mail,
  &__input-text {
    padding: 10px;
    width: 100%;
  }

  &__input-name {
    margin-right: 20px;
  }

  &__input-name,
  &__input-mail {
    max-width: 570px;
    height: 50px;
  }

  &__input-text {
    margin-bottom: 20px;
    height: 224px;
    resize: none;
  }
}

.related-products {
  margin-bottom: 70px;

  &__subtitle {
    text-align: left;
    margin-bottom: 20px;
    color: $blue4d;
  }

  &__list {
    display: block;
    position: relative;

    .shop__contant-item {
      padding: 50px 0;
    }

    .slick-prev,
    .slick-next {
      position: absolute;
      top: -60px;
      width: 50px;
      height: 50px;
      border-radius: 5px;
      border: 2px solid $bluef4;
      background-color: $whiteff;
      font-size: 0;
      transition: border-color 0.3s;
      background-size: 22px;
      background-repeat: no-repeat;
      background-position: center;

      &:hover {
        border-color: $bluec8;
      }
    }

    .slick-prev {
      right: 70px;
      background-image: url("../images/sprite.svg#arrow-slider-left");
    }

    .slick-next {
      right: 0;
      background-image: url("../images/sprite.svg#arrow-slider-right");
    }
  }
}

.jq-number {
  padding: 0;
}

.jq-number__field {
  width: 148px;
  border: 1px solid $bluec8;
  border-radius: 0;
  box-shadow: none;
}

.jq-number__field input {
  padding-top: 18px;
  padding-bottom: 16px;
  border: none;
  outline: none;
  background: none;
  font: 14px "Rubik", sans-serif;
  color: $gray33;
  text-align: center;
}

.jq-number__spin {
  position: absolute;
  right: 0;
  width: 32px;
  border: none;
  border-radius: 0;
  background: transparent;
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
}

.jq-number__spin.minus {
  height: 100%;
  left: 0;
  border-right: 1px solid $bluec8;
  width: 50px;
  height: 100%;
}

.jq-number__spin.minus:after {
  position: absolute;
  content: "-";
  top: 19%;
  left: 41%;
  border-right: none;
  border-left: none;
}

.jq-number__spin.plus {
  height: 100%;
  right: 0;
  border-left: 1px solid $bluec8;
  width: 50px;
  height: 100%;
}

.jq-number__spin.plus:after {
  position: absolute;
  content: "+";
  top: 30%;
  left: 40%;
  border-bottom: none;
  border-left: none;
}

.jq-number__spin:hover {
  background: transparent;
}

.jq-number__spin:active {
  background: $bluec8;
  box-shadow: none;
}

.top {
  &__subtitle {
    font-family: "Rubik Light", sans-serif;
    font-size: 36px;
    margin-bottom: 12px;
  }

  &__header {
    text-align: center;
    padding: 22px 0 30px;
    background-color: $bluef4;
    margin-bottom: 114px;
  }
}

.blog {
  padding-bottom: 25px;

  &__inner {
    display: flex;
  }

  &__item {
    padding-bottom: 70px;
  }

  &__contant {
    max-width: 830px;
    width: 100%;
    margin-right: 70px;
  }

  &__item-link {
    max-width: 830px;
    width: 100%;
    height: 500px;
    display: block;
    position: relative;
    overflow: hidden;
    margin-bottom: 40px;
  }

  &__box {
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 0;
    padding: 30px 20px;
    background-color: $bluec8;
    color: $whiteff;
    font-family: "Rubik Regular", sans-serif;
    font-size: 12px;
    text-transform: uppercase;
  }

  &__calendar-svg,
  &__autor-svg {
    width: 12px;
    height: 14px;
    fill: $whiteff;
    margin-right: 5px;
    margin-bottom: -2px;
  }

  &__date,
  &__autor {
    transition: color 0.3s;
    &:hover {
      color: $blue4d;
    }
  }

  &__autor {
    padding-left: 25px;
  }

  &__subtitle {
    margin-bottom: 40px;
  }

  &__description {
    margin-bottom: 40px;
  }

  &__btn {
    padding: 20px;
    border: 1px solid $bluec8;
    color: $bluec8;
    font-family: "Nunito Bold", sans-serif;
    font-size: 15px;
    transition: background-color 0.3s, border 0.3s, color 0.3s;

    &:hover {
      background-color: $blue4d;
      border: 1px solid $blue4d;
      color: $whiteff;

      .blog__arrow-svg {
        fill: $whiteff;
      }
    }
  }

  &__arrow-svg {
    width: 22px;
    height: 9px;
    margin-left: 45px;
    fill: $bluec8;
    transition: fill 0.3s;
  }

  &__aside {
    width: 270px;
  }
}

.filter-search {
  margin-bottom: 60px;

  &__form {
    display: flex;
    border: 1px solid $bluec8;
    border-radius: 5px;
    width: 100%;
    height: 43px;
  }

  &__input {
    position: relative;
    margin: 1px;
    padding: 2px 2px 2px 10px;
    width: 100%;
    border: transparent;
  }

  &__icon {
    transform: translateY(2px);
    transition: fill 0.3s;
  }

  &__btn {
    width: 48px;
    margin-right: -1px;
    border-radius: 5px;
    background-color: $bluec8;
    border: none;
    transition: background-color 0.3s;

    &:hover {
      background-color: $blue4d;

      .filter-search__icon {
        fill: $whiteff;
      }
    }
  }

  &__icon {
    width: 17px;
    height: 17px;
  }
}

.article-recent {
  &__item {
    display: flex;
    margin-bottom: 20px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__img-link {
    margin-right: 20px;
    min-width: 70px;
  }

  &__img {
    width: 70px;
    height: 70px;
    object-fit: cover;
  }

  &__box {
    padding: 2px 0;
  }

  &__text {
    font-family: "Rubik Regular", sans-serif;
    font-size: 14px;
    line-height: inherit;
    color: $gray33;
    margin-bottom: 6px;
    @include clamp(2);
  }

  &__date {
    position: relative;
    font-family: "Rubik Regular", sans-serif;
    font-size: 12px;
    color: $gray9a;
    transition: color 0.3s;

    &:hover {
      color: $blue4d;
    }
  }

  &__date-svg {
    width: 12px;
    height: 14px;
    margin-right: 5px;
    margin-bottom: -2px;
  }
}

.blog-page {
  &__item {
    font-family: "Rubik Regular", sans-serif;
    color: $blue4d;
    padding-bottom: 0;

    h3 {
      font-size: 36px;
      color: $gray33;
      padding-bottom: 30px;
    }

    span {
      font-weight: 500;
      font-size: 16px;
      line-height: 2;
      padding-bottom: 30px;
    }

    p {
      padding-bottom: 40px;
      font-size: 18px;
      line-height: 2;
      padding-bottom: 60px;
    }

    blockquote {
      background-color: $bluef4;
      border-left: 6px solid $bluec8;
      padding: 25px 35px;
      margin-bottom: 45px;
      line-height: 1.9;

      span {
        display: block;
        position: relative;
        padding: 25px 0 0 40px;

        &::before {
          content: "";
          position: absolute;
          left: 0;
          bottom: 14px;
          width: 20px;
          height: 3px;
          background-color: $bluec8;
        }
      }
    }

    h4 {
      font-weight: 500;
      font-size: 18px;
      line-height: 2;
      padding-bottom: 30px;
    }
  }

  &__img {
    min-width: 320px;
    height: 210px;
    overflow: hidden;
  }

  &__box {
    display: flex;
    margin-bottom: 40px;
    align-items: center;
    &--left {
      .blog-page__img {
        margin-right: 30px;
      }
    }

    &--right {
      flex-direction: row-reverse;

      .blog-page__img {
        margin-left: 30px;
      }
    }
  }

  &__box-description {
    p {
      padding-bottom: 0;
    }
  }

  &__share-block {
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    border-top: 2px solid $grayeb;
    border-bottom: 2px solid $grayeb;
    margin-bottom: 70px;
  }

  &__autor-img {
    width: 76px;
    height: 76px;
    object-fit: cover;
    overflow: hidden;
    margin-right: 30px;
  }

  &__autor {
    display: flex;
    align-items: center;
    font-weight: 500;

    span {
      display: block;
      font-weight: 400;
    }
  }

  &__links-list {
    align-self: center;
  }

  &__tags-link {
    margin-left: 10px;
    color: $graya1;
    transition: color 0.3s;

    &:hover {
      color: $blue4d;
    }
  }

  &__links {
    margin-bottom: 20px;
  }

  &__social-link {
    margin-left: 20px;
  }

  &__social-svg {
    width: 16px;
    height: 16px;
    fill: $graya1;
    transition: fill 0.3s;

    &:hover {
      fill: $blue4d;
    }
  }

  &__comments-item {
    display: flex;
    padding: 30px 0;
    border-bottom: 1px solid $grayeb;

    &:last-of-type {
      border-bottom: none;
    }

    &--reply {
      margin-left: 130px;
    }
  }

  &__subtitle {
    font-family: "Rubik Bold", sans-serif;
    font-size: 24px;
    color: $blue72;
    margin-bottom: 30px;
  }

  &__comments-head {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }

  &__comments-date {
    font-size: 14px;
    color: $gray9e;
  }

  &__comments-img {
    max-width: 100px;
    width: 100%;
    height: 100px;
    object-fit: cover;
    overflow: hidden;
    margin-right: 30px;
  }

  &__comments-name {
    font-family: "Rubik Bold", sans-serif;
    font-size: 16px;
    color: $blue72;
  }

  &__comments-text {
    color: $blue73;
    line-height: 1.9;
    margin-bottom: 20px;
  }

  &__comments-btn {
    position: relative;
    border: none;
    background-color: transparent;
    padding: 0;
    color: $blue78;
    font-size: 14px;
    transition: color 0.3s;

    &::after {
      content: "";
      position: absolute;
      background-image: url("../images/sprite.svg#arrow-blog-reply");
      background-repeat: no-repeat;
      width: 13px;
      height: 15px;
      right: -20px;
      top: 2px;
      fill: $blue78;
    }

    &:hover {
      color: $blue4d;
    }
  }

  &__review {
    padding: 70px 0 120px;

    .product-page__review-title {
      font-family: "Rubik Bold", sans-serif;
      font-size: 24px;
      color: $blue72;
      padding-bottom: 30px;
    }

    .product-page__review-btn {
      border-radius: 0;
      text-transform: uppercase;
    }
  }
}

.contact {
  padding: 0 0 120px;

  &__subtitle {
    font-family: "DMSans Bold", sans-serif;
    font-size: 35px;
    text-align: center;
    padding-bottom: 70px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    position: relative;
    max-width: 370px;
    width: 100%;
    height: 380px;
    background-color: $whitefb;
    border: 2px solid $whitefb;
    transition: border 0.3s, box-shadow 0.3s;
    text-align: center;
    padding-top: 70px;
    margin-bottom: 120px;
    box-shadow: none;

    &:hover {
      border: 2px solid $bluec8;
      box-shadow: 0px 5px 20px 0px rgba($gray92, 0.3);

      .contact__item-icon {
        background-color: $bluec8;
      }

      .contact__item-svg {
        fill: $whiteff;
      }
    }
  }

  &__item-icon {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 20px;
    background-color: $whiteff;
    margin: 0 auto 70px;
    transition: background-color 0.3s;
  }

  &__item-svg {
    position: absolute;
    width: 31px;
    height: 44px;
    fill: $bluec8;
    left: 32%;
    top: 21%;
    transition: fill 0.3s;
  }

  &__item-subtitle {
    display: block;
    font-family: "DMSans Bold", sans-serif;
    font-size: 20px;
    color: $black22;
    margin-bottom: 30px;
  }

  &__item-address {
    padding: 0 80px;
    @include clamp(2);
  }

  &__item-link {
    font-family: "Rubik Regular", sans-serif;
    font-size: 16px;
    color: $blue73;
    display: block;
  }

  &__box {
    display: flex;
    justify-content: space-between;
  }

  &__map {
    max-width: 500px;
    width: 100%;
  }

  &__forms {
    margin-right: 20px;
  }

  &__input-top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }

  &__form-input {
    max-width: 300px;
    width: 100%;
  }

  &__form--name {
    margin-right: 20px;
  }

  &__form--name,
  &__form--email,
  &__form--text {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      background-repeat: no-repeat;
      width: 20px;
      height: 22px;
      top: 16px;
      right: 29px;
    }
  }

  &__form--name {
    &::before {
      background-image: url("../images/sprite.svg#form-name");
    }
  }

  &__form--email {
    &::before {
      background-image: url("../images/sprite.svg#form-mail");
    }
  }

  &__form--text {
    &::before {
      background-image: url("../images/sprite.svg#form-massege");
    }
  }

  &__textarea {
    width: 100%;
    height: 175px;
    resize: none;
    margin-bottom: 29px;
  }

  &__form-input,
  &__textarea {
    border: none;
    background-color: $whitefb;
    text-transform: uppercase;
    padding: 20px 60px 20px 20px;
    font-family: "Rubik Regular", sans-serif;
    font-size: 16px;
    color: 3$blue73;
  }

  &__btn {
    text-transform: uppercase;
  }
}

#map {
  width: 100%;
  height: 330px;
}
