@import "fonts";
@import "vars";
@import "reset";
@import "libs";
@import "global";

.header {
  padding: 50px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  &__navigation {
    display: flex;
  }

  &__menu {
    padding-left: 152px;
  }
}

.logo__img {
  width: 146px;
  height: 49px;
  object-fit: contain;
}

.menu {
  display: flex;

  &__item {
    margin-right: 34px;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.3;

    &:last-child {
      margin-right: 0;
    }
  }
  &__link {
    color: $blue72;
    position: relative;
    @extend %text-effect;
  }
}

.navigation {
  &__box,
  &__search {
    margin-right: 20px;
    display: flex;
    background-color: $peachb6;
    border-radius: 25px;
    fill: $blue4d;
    overflow: hidden;
  }

  &__favorite,
  &__cart {
    position: relative;
    width: 89px;
    height: 50px;
    background-repeat: no-repeat;
    background-position: 50%;

    :not(.navigation__num):hover {
      background-color: rgba($bluec8, 1);
      fill: #ffffff;
    }
  }

  &__line {
    width: 1px;
    height: 32px;
    margin: auto 0;
    background-color: rgba(#ffffff, 0.4);
    background-position: 50%;
  }

  &__num {
    position: absolute;
    transform: translate(-40px, 5px);
    font-weight: 400;
    padding: 5px 6px;
    font-size: 10px;
    border-radius: 25px;
    background-color: #ffffff;
    text-align: center;
    line-height: 1;
  }
}

.button-round {
  border-radius: 25px;
  overflow: hidden;
  width: 50px;
  height: 50px;
  padding: 0;
  border: none;
  background-color: $bluef4;
  display: flex;

  :hover {
    background-color: $bluec8;
    fill: #ffffff;
  }

  &__icon {
    width: 100%;
    height: 100%;
    padding: 16px;
    fill: $blue4d;
    transition: fill 0.3s, background-color 0.3s;
  }
}

.top-slider {
  &__inner {
    background-color: $peachb6;
    width: 100%;
  }

  &__item {
    padding-top: 216px;
    padding-bottom: 300px;
    display: flex;
    justify-content: space-between;
  }

  &__title {
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 60px;
    max-width: 470px;
    @include clamp(2);
  }

  &__name {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 72px;
    line-height: 1;
    color: $blue4d;
    margin-bottom: 24px;
    @include clamp(2);
  }

  &__text {
    font-weight: 400;
    max-width: 380px;
  }

  &__arrows {
    position: absolute;
    width: 22px;
    height: 9px;
    right: 17px;
    top: 50%;
    transform: translateY(-50%);
    fill: $blue4d;
    transition: fill 0.3s;
  }

  &__link {
    font-family: "Rubik", sans-serif;
    font-weight: 500;
    position: relative;
    font-size: 15px;
    line-height: 0.9;
    padding: 20px 100px 20px 25px;
    max-width: 100px;
    background-color: $bluef4;
    color: $blue4d;
    transition: color 0.3s, background-color 0.3s, fill 0.3s;

    &:hover {
      background-color: $bluec8;
      color: #ffffff;

      .top-slider__arrows {
        fill: #ffffff;
      }
    }
  }

  &__image {
    max-height: 340px;
    max-width: 700px;

    &::after {
      content: "";
      position: absolute;
      z-index: 1;
      border-radius: 50%;
      background: linear-gradient(270deg, #ffffff, rgba(0, 0, 0, 0));
      transform: translate(19%, -70%);
      width: 634px;
      height: 634px;
    }
  }

  &__img {
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    position: relative;
    z-index: 10;
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: -2px;
    left: 0;
    right: 0;

    li {
      margin: 0 6px 45px;

      button {
        border: none;
        border-radius: 50%;
        width: 30px;
        height: 29px;
        background-color: rgba(255, 255, 255, 0.3);
        font-family: "Rubik", sans-serif;
        font-weight: 500;
        font-size: 11px;
        line-height: 1;
        color: $blue4d;
      }
    }
    & .slick-active {
      background-color: rgba(255, 255, 255, 1);
      border-radius: 50%;
    }
  }
}

.info-box {
  background-color: rgba($peachb6, 0.2);
  font-family: "DMSans", sans-serif;
  line-height: 1.9;

  &__items {
    display: grid;
    grid-template-columns: 570px 1fr 1fr;
  }

  &__item {
    margin: 0 auto;
    position: relative;
    padding: 35px 0 40px 225px;
    width: 100%;

    &:nth-child(2) {
      border-left: 1px solid rgba($blue4d, 0.1);
      border-right: 1px solid rgba($blue4d, 0.1);
    }

    &::before {
      background-repeat: no-repeat;
      content: "";
      position: absolute;
      top: 47px;
      left: 150px;
      width: 51px;
      height: 53px;
    }
  }

  &__support::before {
    background-image: url("../images/icons/icon-support.svg");
  }

  &__delivery::before {
    background-image: url("../images/icons/icon-delivery.svg");
  }

  &__payment::before {
    background-image: url("../images/icons/icon-payment.svg");
  }

  &__subtitle {
    width: 220px;
    font-weight: 700;
    font-size: 18px;
    color: #414141;
    @include clamp(1);
  }

  &__text {
    width: 230px;
    font-weight: 400;
    font-size: 16px;
    color: #585858;
    @include clamp(2);
  }
}

.week-products {
  padding-top: 70px;
  font-family: "DMSans", sans-serif;
  font-weight: 700;

  &__title {
    margin-bottom: 30px;
  }
  &__filter {
    margin-bottom: 80px;
  }

  &__list {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 40px;
    margin-bottom: 185px;
  }
}

.products-filter {
  display: flex;
  justify-content: center;
  font-weight: 700;

  &__item {
    margin-right: 17px;
  }

  &__item:last-child {
    margin-right: 0;
  }

  &__btn {
    position: relative;
    font-size: 16px;
    line-height: 1;
    color: #8b8b8b;
    background-color: transparent;
    border: none;
    @extend %text-effect;
  }

  &__btn.mixitup-control-active {
    color: #191919;
  }
}

.review {
  &__box {
    margin-bottom: 100px;
    display: flex;
    color: $blue4d;
  }

  &__item {
    height: 390px;
    max-width: 870px;
    width: 100%;
    margin-right: 30px;
    background-color: rgba($peachb6, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;

    &:last-child {
      margin-right: 0;
    }
  }

  &__description {
    max-width: 340px;
  }

  &__subtitle {
    font-size: 26px;
    line-height: 1.3;
    font-weight: 700;
    margin-bottom: 33px;
    @include clamp(2);
  }

  &__text {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    line-height: 1.8;
    margin-bottom: 40px;
    @include clamp(2);
  }

  &__arrows {
    margin-left: 45px;
    width: 22px;
    height: 9px;
  }

  &__arrows use {
    fill: $blue72;
    transition: fill 0.3s;
  }

  &__link {
    font-family: "Rubik", sans-serif;
    font-size: 15px;
    color: $blue72;
    padding: 20px;
    border: 1px solid rgba($bluec8, 0.4);
    border-radius: 5px;
    transition: color 0.3s, background-color 0.3s;

    &:hover,
    &:hover use {
      color: #ffffff;
      fill: #ffffff;
      background-color: $blue72;
    }
  }

  &__image {
    position: relative;
    max-width: 350px;
    margin-right: 17px;
    transform: translateY(-94px);
    object-fit: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
}

.new-design {
  margin-bottom: 120px;

  &__title {
    margin-bottom: 28px;
  }

  &__filter {
    margin-bottom: 80px;
  }

  &__item {
    max-width: 370px;
    width: 100%;
    height: 246px;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
  }

  &__link {
    display: block;
    height: 100%;
  }

  &__box {
    height: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 34px;
    grid-column-gap: 30px;
  }

  &__content {
    padding: 34px 140px 0 34px;
  }

  &__subtitle {
    font-size: 20px;
    line-height: 1.2;
    font-weight: 700;
    color: $black19;
    margin-bottom: 11px;
    @include clamp(2);
  }

  &__text {
    font-weight: 700;
    color: $bluec8;
    @include clamp(1);
  }
}

.video-block {
  margin-bottom: 115px;

  &__popup {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &__link {
    position: relative;
    display: block;
    z-index: 2;
    transition: all 0.3s, width 0.3s, height 0.3s, background-color 0.3s;

    &::before {
      content: "";
      position: absolute;
      width: 127px;
      height: 127px;
      border-radius: 50%;
      transform: translate(-44%, -50%);
      background-color: rgba($bluec8, 0.4);
    }

    &::after {
      content: "";
      position: absolute;
      width: 127px;
      height: 127px;
      transform: translate(-78px, -63px);
      border-radius: 50%;
      background-color: transparent;
      z-index: -1;
      transition: all 0.3s, height 0.3s;
    }

    &:hover::after {
      width: 98px;
      height: 98px;
      background-color: rgba($bluec8, 0.8);
      transform: translate(-62px, -48px);
    }
  }

  &__icon {
    position: relative;
    width: 22px;
    height: 25px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    fill: #ffffff;
  }
}

.articles {
  position: relative;

  &__bg {
    position: absolute;
    top: 331px;
    height: 170px;
    width: 100%;
    background-color: rgba($peachb6, 0.2);
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 45px;
  }

  &__view-all {
    position: relative;
    font-weight: 700;
    color: #262626;
    @extend %text-effect;
  }

  &__view-icon {
    width: 6px;
    height: 10px;
    margin-left: 15px;
    fill: #262626;
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    position: relative;
    height: 420px;
    width: 370px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    background-color: #ffffff;
  }

  &__box {
    height: 110px;
    padding: 30px;
  }

  &__img {
    width: 370px;
    height: 250px;
    object-fit: cover;
    background-size: cover;
    background-position: center center;
  }

  &__link {
    position: absolute;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    color: #ffffff;
    padding: 4px 31px;
    border-radius: 20px;
    top: 233px;
    left: 28px;
    background-color: $whitebluec8;
    transition: background-color 0.3s;

    &:hover {
      background-color: $blue4d;
    }
  }

  &__text {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.3;
    color: $gray26;
    @include clamp(3);
  }

  &__bottom {
    position: absolute;
    padding: 15px 0 23px;
    width: 315px;
    bottom: 0;
    border-top: 1px solid $lightgraye0;
  }

  &__autor-icon,
  &__data-icon {
    width: 10px;
    height: 10px;
    fill: #222933;
  }

  &__data {
    margin-right: 30px;
  }

  &__data,
  &__autor {
    text-transform: uppercase;
    font-size: 12px;
    color: #222933;
    @extend %text-effect;
    transition: color 0.3s, border-bottom 0.3s;

    &:hover {
      color: #000000;

      .articles__data-icon,
      .articles__autor-icon {
        fill: #000000;
      }
    }
  }
}

.partners {
  width: 100%;
  padding: 90px 0 70px;
  background-color: rgba($peachb6, 0.2);
  margin-bottom: 65px;

  &__img {
    margin: 0 auto;
  }
}

.login {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 14px;

  &__header {
    text-align: center;
    padding: 25px 0 30px;
    background-color: $bluef4;
  }

  &__subtitle {
    font-weight: 300;
    font-size: 36px;
    line-height: 1.4;
  }

  &__box {
    margin: 120px auto;
    max-width: 470px;
    width: 100%;
  }

  &__label {
    display: block;
    color: $blue72;
  }

  &__input {
    display: block;
    width: 100%;
    height: 60px;
    border: 2px solid $grayf6;
    margin: 12px 0 25px;
    padding: 0 15px 0 15px;

    &::placeholder {
      font-size: 30px;
    }
  }

  &__block {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
    border-bottom: 2px solid $grayf6;
    margin-bottom: 30px;
  }

  &__text {
    text-align: center;
    margin-bottom: 25px;
  }

  &__btn {
    width: 100%;
    height: 60px;
    font-weight: 500;
    font-size: 18px;
    transition: background-color 0.3s, color 0.3s, border 0.3s;
  }

  &__remember {
    position: relative;
    @extend %text-effect;
  }

  &__checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
  }

  &__checkbox-style {
    width: 14px;
    height: 14px;
    border-radius: 1px;
    background-color: #ebebeb;
    position: relative;
    display: inline-block;
  }

  &__checkmark {
    width: 14px;
    height: 14px;
    display: none;
  }

  &__checkbox:checked + .login__checkbox-style .login__checkmark {
    display: block;
  }

  &__btn-login {
    color: #ffffff;
    background: $whitebluec8;
    border: none;
    margin: 36px 0 32px;

    &:hover {
      color: #ffffff;
      background: $blue4d;
    }
  }

  &__btn-account {
    color: $blue4d;
    background: #ffffff;
    border: 2px solid $whitebluec8;

    &:hover {
      color: #ffffff;
      background: $blue4d;
      border: 2px solid $blue4d;
    }
  }
}

.breadcrumbs {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 14px;

  &__list {
    display: flex;
    justify-content: center;
    color: rgba(#222933, 0.4);
  }
  &__item {
    position: relative;
    margin-right: 15px;

    &::after {
      content: "/";
      position: absolute;
      right: -10px;
    }

    &:last-child {
      margin-right: 0;

      &::after {
        display: none;
      }
    }
  }
}

.footer {
  font-weight: 700;
  line-height: 1.6;

  &__links {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
    border-bottom: 1px solid rgba($bluec8, 0.4);
  }

  &__contacts,
  &__services,
  &__account,
  &__subscribe {
    font-size: 14px;
    max-width: 270px;
    width: 100%;
    color: $gray7b;
  }

  &__subtitle {
    font-weight: 700;
    text-transform: uppercase;
    color: #1f2044;
    font-size: 16px;
    line-height: 1.3;
    margin: 20px 0;
    display: inline-block;
  }

  &__link {
    display: inline-block;
    color: $gray7b;
    position: relative;
    margin-bottom: 10px;
    @extend %text-effect;
  }

  &__logo {
    display: block;
    margin-bottom: 20px;
  }

  .contacts {
    &__item {
      margin-bottom: 10px;
    }

    &__link {
      line-height: 1.7;
      max-width: 200px;
    }

    &__link span {
      text-transform: uppercase;
    }
  }

  .subscribe {
    &__text {
      margin-bottom: 40px;
    }

    &__input {
      width: 170px;
      height: 38px;
      background-color: rgba($peachb6, 0.2);
      border: none;
      padding: 0 15px 3px;

      &::placeholder {
        font-weight: 400;
        color: #234969;
        font-size: 12px;
      }
    }

    &__form-btn {
      display: inline;
      width: 100px;
      height: 38px;
      background-color: $bluec8;
      color: #ffffff;
      border: none;
    }

    &__form {
      display: flex;
    }
  }

  &__bottom {
    margin: 35px 0;
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 14px;
  }

  &__nav {
    display: flex;
  }

  &__nav-link {
    position: relative;
    @extend %text-effect;
  }

  &__nav-item {
    padding: 0 14px;
    border-right: 1px solid $bluec8;

    &:last-child {
      padding-right: 0;
      border-right: none;
    }
  }
}

.shop {
  &__subtitle {
    font-family: "Rubik", sans-serif;
    font-weight: 300;
    font-size: 36px;
    margin-bottom: 12px;
  }

  &__header {
    text-align: center;
    padding: 22px 0 30px;
    background-color: $bluef4;
    margin-bottom: 114px;
  }

  &__inner {
    display: flex;
  }

  &__filter {
    max-width: 270px;
    width: 100%;
    margin-right: 30px;
  }
}

.filter {
  padding: 30px 0;

  &__subtitle {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 24px;
    text-transform: uppercase;
  }

  &__line {
    width: 38px;
    height: 2px;
    fill: $whitebluec8;
    margin-left: 12px;
    margin-bottom: 5px;
  }
}

.filter-category {
  margin-bottom: 54px;

  &__input {
    @extend %checkbox-hidden;

    &:checked + .filter-category__box {
      background-color: rgba($whitebluec8, 0.2);
      color: $blue4d;

      .filter-category__checkbox--gray {
        color: $blue4d;
      }
    }
  }

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 22px 12px 15px;
    border-radius: 5px;
  }

  &__arrow-right {
    width: 5px;
    height: 10px;
    fill: $whitebluec8;
  }

  &__checkbox {
    font-family: "Rubik", sans-serif;
    display: block;

    &--gray {
      color: #b3b3b3;
    }
  }
}

// стиллизация фильтра

.irs--flat .irs-min,
.irs--flat .irs-max {
  display: none;
}

.irs--flat .irs-line {
  top: 0;
  height: 2px;
  background-color: rgba(#a3bbc8, 0.66);
  border-radius: 0;
}

.irs--flat .irs-bar {
  top: 0;
  height: 3px;
  background-color: rgba(#a3bbc8, 1);
}

.irs--flat .irs-handle > i:first-child {
  position: absolute;
  display: block;
  top: -28px;
  left: 1px;
  width: 15px;
  height: 15px;
  background-color: rgba(#a3bbc8, 1);
  transition: background-color 0.3s;
}

.irs--flat .irs-handle.state_hover > i:first-child,
.irs--flat .irs-handle:hover > i:first-child {
  background-color: $blue4d;
}

.irs--flat .irs-from,
.irs-to,
.irs-single {
  display: none;
}

.irs--flat {
  height: 30px;
}

.filter-price {
  margin-bottom: 80px;

  &__subtitle {
    margin-bottom: 35px;
  }

  &__summ {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 14px;
    padding-right: 7px;
  }
}

.pagination {
  text-align: center;
  font-family: "Rubik", sans-serif;
  margin-bottom: 120px;

  &__list {
    display: inline-block;
  }

  &__item {
    display: inline-block;
    margin-right: 15px;
  }

  &__num,
  &__link {
    position: relative;
    display: inline-block;
    padding: 15px 20px;
    border: 1px solid $whitebluec8;
    @extend %text-effect;

    &--active {
      color: #ffffff;
      background-color: $whitebluec8;
    }
  }
}

.filter-recent {
  margin-top: -5px;

  &__list {
    margin-top: 30px;
  }

  &__item {
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__inner {
    display: flex;
    justify-content: flex-start;
  }

  &__img {
    width: 70px;
    height: 70px;
    border: 2px solid #f2f2f2;
    object-fit: contain;
    margin-right: 20px;
  }

  &__card-subtitle {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin: 4px 0 10px;
  }

  &__stars {
    margin-bottom: 7px;
  }
}

.jq-ry-container {
  padding: 0;
}

.product-card {
  position: relative;
  box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
  width: 270px;
  height: 380px;
  border-radius: 10px;

  &__box {
    position: relative;
    height: 245px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
  }

  &__img {
    // margin: auto 0;
    padding: 10px;
    object-fit: contain;
    text-align: center;
  }

  &__btn {
    margin-right: 16px;
  }

  &__links {
    position: absolute;
    left: 0;
    right: 0;
    top: 180px;
    text-align: center;
    display: flex;
    justify-content: center;
    transform: translateY(300%);
    transition: transform 0.3s;

    :last-child {
      margin-right: 0;
    }
  }

  &__subtitle {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    color: $blue4d;
    text-align: center;
    padding: 0 5px;
    @include clamp(1);
  }

  &__price {
    position: relative;
    display: flex;
    justify-content: center;
    line-height: 2.5;
    color: $bluec8;
  }

  &__text,
  &__btn-cart,
  &__stars,
  &__btn-cart,
  &__btn-favorite {
    display: none;
  }

  &:hover {
    .product-card__links {
      transform: translateY(0);
    }
  }
}

.shop {
  &__contant {
    width: 100%;
  }

  &__contant-filter {
    display: flex;
    align-items: center;
    margin: 0 20px 20px;
  }

  &__contant-subtitle {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    margin-right: 20px;
  }

  &__contant-btn {
    border: none;
    background-color: transparent;

    &--active {
      .shop__contant-image {
        fill: $blue4d;
      }
    }
  }

  &__contant-grid-svg {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    fill: $gray7b;
  }

  &__contant-list-svg {
    width: 20px;
    height: 15px;
    fill: $gray7b;
  }

  &__contant-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 40px;
    margin-bottom: 77px;

    &.shop__contant-list--rows {
      grid-template-columns: repeat(1, 1fr);

      .shop__contant-item:nth-child(n + 5) {
        display: none;
      }

      .product-card {
        display: flex;
        min-width: 100%;
        height: 500px;
        border-radius: 0;
        font-family: "Rubik", sans-serif;
        color: #333333;

        &__box {
          width: 370px;
          height: 100%;
          border: 2px solid #e5e5e5;
          margin-bottom: 0;
          flex-shrink: 0;
        }

        &__img {
          margin: 20px;
        }

        &__links {
          display: none;
        }

        &__description {
          padding: 83px 30px 0 52px;
        }

        &__subtitle {
          font-weight: 400;
          font-size: 40px;
          color: inherit;
          text-align: left;
          margin-bottom: 15px;
        }

        &__price {
          justify-content: flex-end;
          flex-direction: row-reverse;
          color: inherit;
          font-size: 30px;
        }

        &__text {
          display: block;
          margin: 4px 0 30px 10px;
          @include clamp(3);
          line-height: 1.8;
        }

        .button-square {
          display: inline-block;
          width: 50px;
          height: 50px;
          padding: 0;
          border: none;
          margin-right: 6px;

          &:last-child {
            margin-right: 0;
          }
        }

        &__btn-cart {
          background-color: $bluec8;
          box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);

          :hover {
            background-color: $blue4d;
            fill: #ffffff;
          }
        }

        &__btn-cart svg{
          fill: #ffffff;
        }
        
        &__btn-favorite {  
          background-color: #ffffff;
          box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);

          :hover {
            
            background-color: $blue4d;
            fill: #ffffff;
          }
        }

        &__stars {
          display: block;
          margin: 0 0 15px 5px;
        }
      }
    }
  }
}

.product-page {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;

  &__inner {
    margin: 125px 0 90px;
    display: flex;
    justify-content: space-between;
  }

  &__slider {
    display: flex;
    width: 550px;
  }

  &__thumb-list {
    width: 138px;
    display: block;
    margin-right: 25px;
  }
  
  &__thumb-item {
    height: 160px;
    border: 2px solid #f2f2f2;
    margin-bottom: 19px;
    overflow: hidden;
    
    :last-child {
      margin-bottom: 0;
    }
  }

  &__thumb-img {
    object-fit: contain;
    width: 100%;
  }
  
  &__big-list {
    width: 387px;
  }
  
  &__big-item {
    height: 530px;
    width: 387px;
    border: 2px solid #f2f2f2;
    object-fit: contain;
    overflow: hidden;
  }

  &__big-img {
    width: 100%;
  }

  &__description {
    max-width: 570px;
    width: 100%;
    padding: 18px 17px 0;
    color: $blue4d;
  }

  &__subtitle {
    margin-bottom: 15px;
    font-size: 40px;
    font-weight: inherit;
  }

  &__stars {
    margin-bottom: 34px;
  }

  &__price {
    margin-bottom: 23px;
    font-size: 30px;
    color: $gray26;
  }

  &__currancy {
    margin-left: -5px;
  }

  &__text {
    margin-bottom: 26px;
    line-height: 1.9;
    @include clamp(4);
    color: $blue4d;
    }
  

  &__form {
    margin-bottom: 54px;
    display: flex;
  }

  &__btn {
    margin-left: 15px;
    text-transform: uppercase;
    @extend %button;
    padding-top: 17px;
    padding-bottom: 18px;
  }

  &__info-title {
    margin-bottom: 11px;
  }

  &__tabs {
    padding: 0 0 120px;
  }

  &__tabs-list {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
  }

  &__tabs-item {
    margin-right: 13px;


    :last-child {
      margin-right: 0;
    }
  }

  &__tabs-btn {
    @extend %button;
    color: $blue4d;
    transition: color 0.3s;
    font-size: 18px;
    font-weight: 500;
    transition: background-color 0.3s;
    
    &:hover {
      color: #ffffff;
    }
    &--active {
      background-color: $blue4d;
      color: #ffffff;
    }
  }
  
  &__tabs-description {
    display: none;
    line-height: 1.9;

    &--active {
      display: block;
    }
  }

  &__review-item {
    display: flex;
    margin-bottom: 30px;
  }

  &__review-img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
    margin-right: 30px;
  }

  &__review-name {
    display: inline-block;
    color: $black19;
    font-weight: 500;
    margin-right: 30px;
  }
  
  &__review-date {
    display: inline-block;
 } 

  &__review-link {
    position: relative;
    margin-left: 20px;

    &::before {
      position: absolute;
      content: "";
      background-image: url('../images/sprite.svg#arrow-reply');
      background-repeat: no-repeat;
      width: 15px;
      height: 13px;
      left: -20px;
      top: 2px;
    }
  }
}

.related-products {
  margin-bottom: 70px;

  &__subtitle {
    text-align: left;
    margin-bottom: 20px;
    color: $blue4d;
  }

  &__list {
    display: block;
    position: relative;

    .shop__contant-item {
      padding: 50px 0;
    }

    .slick-prev,
    .slick-next {
      position: absolute;
      top: -60px;
      width: 50px;
      height: 50px;
      border-radius: 5px;
      border: 2px solid #edf1f4;
      background-color: #ffffff;
      font-size: 0;
      transition: border-color 0.3s;
      background-size: 22px;
      background-repeat: no-repeat;
      background-position: center;

      &:hover {
        border-color: $bluec8;
      }
    }
    
    .slick-prev {
      right: 70px;
      background-image: url('../images/sprite.svg#arrow-slider-left');
    }
    
    .slick-next {
      right: 0;
      background-image: url('../images/sprite.svg#arrow-slider-right');
    }

  }
  
}

.jq-number {
  padding: 0;
}

.jq-number__field {
  width: 148px;
  border: 1px solid $whitebluec8;
  border-radius: 0;
  box-shadow: none;
}

.jq-number__field input {
  padding-top: 18px;
  padding-bottom: 16px;
  border: none;
  outline: none;
  background: none;
  font: 14px 'Rubik', sans-serif;
  color: #333333;
  text-align: center;
}

.jq-number__spin {
  position: absolute;
  right: 0;
  width: 32px;
  border: none;
  border-radius: 0;
  background: transparent;
  box-shadow: none;
  text-shadow: none;
  cursor: pointer;
  
}

.jq-number__spin.minus {
  height: 100%;
  left: 0;
  border-right: 1px solid $whitebluec8;
  width: 50px;
  height: 100%;
}

.jq-number__spin.minus:after {
  position: absolute;
  content: '-';
  top: 19%;
  left: 41%;
  border-right: none;
  border-left: none;
  
}

.jq-number__spin.plus {
  height: 100%;
  right: 0;
  border-left: 1px solid $whitebluec8;
  width: 50px;
  height: 100%;
  
}

.jq-number__spin.plus:after {
  position: absolute;
  content: '+';
  top: 30%;
  left: 40%;
  border-bottom: none;
  border-left: none;
}

.jq-number__spin:hover {
  background: transparent;
}

.jq-number__spin:active {
  background: $whitebluec8;
  box-shadow: none;
}

