.footer {
  font-weight: 700;
  line-height: 1.6;

  &__links {
    font-family: "Rubik regular", sans-serif;
    display: flex;
    justify-content: space-between;
    padding-bottom: 60px;
    border-bottom: 1px solid rgba($bluec8, 0.4);
  }

  &__block {
    font-size: 14px;
    max-width: 270px;
    width: 100%;
    color: $gray7b;
  }

  &__subscribe {
    .footer__item {
      margin-bottom: 40px;
    }
  }

  &__contacts {
    width: 240px;
  }

  &__subtitle {
    font-weight: 700;
    text-transform: uppercase;
    color: $blue64;
    font-size: 16px;
    line-height: inherit;
    margin: 20px 0;
    display: inline-block;
  }

  &__link {
    display: inline-block;
    color: $gray7b;
    position: relative;
    margin-bottom: 10px;
  }

  &__logo {
    display: block;
    margin-bottom: 20px;
  }

  .contacts {
    &__item {
      margin-bottom: 10px;
    }

    &__link {
      cursor: pointer;
      line-height: 1.7;
      max-width: 200px;
    }

    &__link span {
      text-transform: uppercase;
    }
  }

  &__bottom {
    margin: 35px 0;
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 14px;
  }

  &__nav {
    display: flex;
  }

  &__nav-link {
    position: relative;
  }

  &__nav-item {
    padding: 0 14px;
    border-right: 1px solid $bluec8;

    &:last-child {
      padding-right: 0;
      border-right: none;
    }
  }
}

.subscribe-form {
  display: flex;

  &__input {
    width: 170px;
    height: 38px;
    background-color: rgba($yellowb6, 0.2);
    border: none;
    padding: 0 15px 3px;

    &::placeholder {
      font-weight: 400;
      color: $blue69;
      font-size: 12px;
    }
  }

  &__form-btn {
    display: inline;
    width: 100px;
    height: 38px;
    background-color: $bluec8;
    color: $whiteff;
    border: none;
    transition: background-color 0.3s;

    &:hover {
      background-color: $blue72;
    }

    &:active {
      background-color: $blue4d;
    }
  }
}