.pagination {
  text-align: center;
  font-family: "Rubik Regular", sans-serif;
  margin-bottom: 120px;

  &__list {
    display: inline-block;
  }

  &__item {
    display: inline-block;
    margin-right: 15px;
  }

  &__num,
  &__link {
    position: relative;
    display: inline-block;
    padding: 15px 20px;
    border: 1px solid $bluec8;

    &--active {
      color: $whiteff;
      background-color: $bluec8;
    }
  }
}