.articles {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 331px;
    height: 170px;
    width: 100%;
    background-color: rgba($yellowb6, 0.2);
    z-index: -1;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 45px;
  }

  &__view-all {
    position: relative;
    font-weight: 700;
    color: $gray26;

    svg {
      width: 6px;
      height: 10px;
      margin-left: 15px;
      fill: $gray26;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }
}

.article-news {
  position: relative;
  height: 420px;
  max-width: 370px;
  width: 100%;
  background-color: $whiteff;

  &__inner {
    display: inline-block;
    box-shadow: none;
    transition: box-shadow 0.3s;
    cursor: pointer;

    &:hover {
      box-shadow: 0 0 20px $blue4d;
    }

    &:active {
      box-shadow: 0 0 20px $yellowb6;
    }
  }

  &__box {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    height: 170px;

    &::after {
      content: "";
      position: absolute;
      max-width: 315px;
      width: 100%;
      height: 1px;
      background-color: $graye0;
      top: 110px;
      left: 30px;
    }
  }

  &__img {
    border-radius: 5px 5px 0 0;
    overflow: hidden;
  }

  &__subtitle {
    position: relative;
    font-weight: 700;
    font-size: 18px;
    line-height: inherit;
    color: $gray26;
    @include clamp(3);
  }

  &__img {
    max-width: 370px;
    width: 100%;
    height: 250px;
    object-fit: cover;
    background-size: cover;
    background-position: center center;
  }

  &__link {
    position: absolute;
    font-family: "Poppins Bold", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: $whiteff;
    padding: 4px 31px;
    border-radius: 15px;
    top: 233px;
    left: 28px;
    background-color: $bluec8;
    transition: background-color 0.3s;
    z-index: 20;

    &:hover {
      background-color: $blue72;
    }

    &:active {
      background-color: $blue4d;
    }
  }

  &__time {
    margin-right: 30px;
  }

  &__time,
  &__autor {
    text-transform: uppercase;
    font-size: 12px;
    color: $blue33;

    svg {
      width: 10px;
      height: 10px;
      fill: $blue33;
    }
  }
}

@media (max-width: $lx) {
  .articles {
    &__list {
      justify-content: space-around;
      gap: 10px;
    }

    &__item {
      &:last-child {
        display: none;
      }
    }
  }
}

@media (max-width: $md) {
  .articles {

    &__item {
      &:nth-child(2) {
        display: none;
      }
    }
  }
}

@media (max-width: $sm) {
  .articles {

    &__header {
      flex-wrap: wrap;
    }

    &__title {
      margin-bottom: 15px;
    }

    &__view-all {
      margin-left: auto;
    }
  }
}
